.button {
    
    &-square {
        margin: 10px 15px;
        width: 60px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-title {
        text-align: left;
        max-width: 50%;
    }
    &:active {
        transform: translateY(1px);
        transition: 0.2s all;
    }
    &:disabled {
        background-color: #AFAFAF;
    }
}

.main-page {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 16px;
}

.date-picker {
    width: 100%;
    min-height: 45px;
    background: #E9E9E9;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.input-date {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    width: 164px;
    height: 45px;
    background: #E9E9E9;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    &:before {
        border-bottom: none;
    }
}