.order-row {
    display: flex;
    gap: 0.5rem;
}
.order-block-title {
    font-style: normal;
    font-weight: 510;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
}
.order-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
    width: 343px;
    height: 149px;
    background: #007AFF;
    color: white;
    border-radius: 10px;
}
.order-wrap {
    display: flex;
    flex-direction: column;
}