@import './base/normalize';
@import './base/fonts';

@import './components/button.scss';
@import './components/button-complete.scss';
@import './components/passengerBlock.scss';
@import './components/orderStep.scss';
@import './components/passengerStep.scss';
@import './components/faqTab.scss';


@import './pages/orderPage.scss';
@import './pages/myTransferPage.scss';
@import './pages/orderedPage.scss';
@import './pages/defaultPage.scss';

body {
  font-family: 'SF Pro Display' , sans-serif;
  color: #333;
}

* {
  font-family: inherit;
  color: inherit;
}

:root {
  --primary-color: #007AFF;
  --bgc: #f2f2f2;
}