@import 'normalize.css';
@import './simplify.css';
@import './base/fonts';

@import 'react-toastify/dist/ReactToastify.css';

@import './components/button.scss';
@import './components/button-complete.scss';
@import './components/passengerBlock.scss';
@import './components/orderStep.scss';
@import './components/passengerStep.scss';
@import './components/faqTab.scss';


@import './pages/orderPage.scss';
@import './pages/myTransferPage.scss';
@import './pages/orderedPage.scss';
@import './pages/defaultPage.scss';

body {
  font-family: 'SF Pro Display' , sans-serif;
  color: #333;
  background: #F2F2F2;
}

* {
  font-family: inherit;
  color: inherit;
}

*:focus-visible {
  outline: 2px var(--primary-color) solid;
  outline-offset: 2px;
}

:root {
  scroll-behavior: smooth;

  --primary-color: #007AFF;
  --bgc: #f2f2f2;
  --line-color: #adadad;
  --disabled-color: #afafaf;
  --error-color: #f44336;
}

#root {
  padding: 16px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
